rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Usuarios
    match /users/{userId} {
      allow read, update, delete: if request.auth.uid == userId;
      allow create: if request.auth != null;
    }

    // Acuerdos
    match /agreements/{agreementId} {
      // Solo usuarios autenticados pueden leer
      allow read: if request.auth != null;

      // Crear o editar solo si el usuario es dueño o admin
      allow create, update, delete: if
        request.auth != null &&
        (
          request.auth.token.role == 'admin' ||
          request.resource.data.ownerId == request.auth.uid
        );
    }
  }
}

