rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      // Users can only read and write to their own user document.
      allow read, write: if request.auth.uid == userId;
    }
    match /agreements/{agreementId} {
      // Users can create an agreement if their UID matches the userId in the document.
      allow create: if request.auth.uid == request.resource.data.userId;
      // Users can only read, update, or delete their own agreements.
      allow read, update, delete: if request.auth.uid == resource.data.userId;
    }
  }
}
