rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Allow users to manage their own profile information
    match /users/{userId} {
      allow read, update: if request.auth.uid == userId;
      allow create: if request.auth.uid == request.resource.data.uid;
    }

    // Allow users to manage their own agreements
    match /agreements/{agreementId} {
      allow create: if request.auth.uid == request.resource.data.userId;
      allow read, update, delete: if request.auth.uid == resource.data.userId;
    }
  }
}
